@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* STYLES */

body {
    color: #141412;
    background: #141412;
    font-family: 'Roboto', sans-serif;
}

.controls {
    width: fit-content;
    padding: 20px;
    margin: 40px 0 0 40px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > div {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.container {
    padding: 1rem;
    width: fit-content;
}

.container section {
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: end;
    margin: 20px 0
}

.downstairs, .used {
    background: #8d0000;
}

.upstairs {
    background: #0077a7;
}

.consoles, .unused {
    background: #03640b;
}

.vr {
    background: #dbdf00;
}

.timer, .dummy-timer {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    margin: 0.5rem;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.dummy-timer {
    visibility: hidden;
}

.half {
    min-width: 50%;
}

.half:first-of-type{
    padding-right: 1rem;
    border-right: 2px dashed #141412;
}

.half:last-of-type{
    padding-left: 1rem;
}

.title, .clock {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.controller_counter {
    font-weight: 900;
}

.title span {
    color: #94C03B;
}

.periphery, .clock-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
    transition: color 0.2s ease;
}

.icon.active {
    color: #94C03B;
}

.icon:hover {
    transform: scale(1.1);
}

.fa-play {
    display: block;
}

.fa-pause {
    display: none;
}
.timer.overtime .clock {
    color: red;
}

.timer.red {
    animation: blinking 2s infinite;
}

.reset-button {
    bottom: 1rem;
    left: 1rem;
}

.play-button {
    bottom: 1rem;
    right: 1rem;
}

@keyframes blinking {
    0% {
        background: #fff;
    }
    50% {
        background: #ff8484;
    }
    100% {
        background: #fff
    }
}


@media(max-width: 800px) {
    .container {
        min-width: calc(100% - 1rem);
        padding: 0;
    }

    .title, .clock {
        font-size: 2.5rem;
    }

    .icon {
        font-size: 1rem;
    }
}
